<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title>{{ page.title }}</title>
<!-- html -->
<meta charset="UTF-8">

<link rel="shortcut icon" href="/assets/logo6.ico">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=B612" rel="stylesheet">
<link rel="stylesheet" href="styles.css">
<!--style="background-color:black; color:white;" -->

</head>
<body> 
<header> 
<img src="assets/logo6.svg" width="150" alt="logo" style="float:left">
<h1>{{ page.title }}</h1>

<nav>
<hr>
<a href="index.html" style="width:116px" target="_self">Home</a> |
<a href="talk.vol1.html" style="width:116px" target="_self">Talk V1</a> |
<a href="Stoic.html" style="width:116px">Stoic</a>  |
<a href="homesite.html" style="width:116px">Homesite</a>  |
</nav>

<hr>
</header>

<main>


<!--
                                 Content  Goes Here
-->
{{ content }}


</main>
<p>
<footer>
<hr>
Best viewed with font <a href="https://b612-font.com/">B612</a> on white background. Icons sourced from<a href="https://www.fontawesome.com">Font Awesome </a>
</footer>
</body>
</html>




